<Composition::DataLoader as |dataLoader|>
  <div class="p-2 bg-green-300">
    <h1>Report1 (from {{dataLoader.lower}} to {{dataLoader.upper}})</h1>

    <p>
      {{#if dataLoader.isLoading}}
        loading...
      {{else}}
        The data is [{{dataLoader.data}}]
        <button
          {{on "click" (perform dataLoader.reload)}}
          class="p-1 m-px bg-red-400"
        >
          reload
        </button>
      {{/if}}
    </p>
  </div>
</Composition::DataLoader>
